<div class="dice">
  <div class="dice__container">
    <div class="dice__cube cube">
      <div class="cube__side cube__side--front">
        <span class="cube__dot"></span>
        <span class="cube__dot"></span>
        <span class="cube__dot"></span>
        <span class="cube__dot"></span>
        <span class="cube__dot"></span>
        <span class="cube__dot"></span>
      </div>
      <div class="cube__side cube__side--back">
        <span class="cube__dot"></span>
      </div>
      <div class="cube__side cube__side--right">
        <span class="cube__dot"></span>
        <span class="cube__dot"></span>
        <span class="cube__dot"></span>
        <span class="cube__dot"></span>
        <span class="cube__dot"></span>
      </div>
      <div class="cube__side cube__side--left">
        <span class="cube__dot"></span>
        <span class="cube__dot"></span>
      </div>
      <div class="cube__side cube__side--top">
        <span class="cube__dot"></span>
        <span class="cube__dot"></span>
        <span class="cube__dot"></span>
      </div>
      <div class="cube__side cube__side--bottom">
        <span class="cube__dot"></span>
        <span class="cube__dot"></span>
        <span class="cube__dot"></span>
        <span class="cube__dot"></span>
      </div>
    </div>
  </div>
</div>
