@import '/src/styles/variables.scss';

.advice {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: $darkblue;
  display: grid;
  place-items: center;
  
  &__card {
    width: 540px;
    height: 100%;
    margin: 0 auto;
    transition: all 2.3s ease;
  }

}